.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  background-color: #222;
  height: 110px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-main {
  margin-top: 35px;
}
